@model IEnumerable<RuilWinkelVaals.Models.ProfileData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountType_LT.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ledenpas_LT.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Straat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huisnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Woonplaats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType_LT.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ledenpas_LT.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Straat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huisnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Woonplaats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geboortedatum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
